@import "tailwindcss";


@theme {
  --font-jost: "Jost", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-bbhsansbogle : "BBH Sans Bogle", sans-serif;
  --font-bbhsanshegarty : "BBH Sans Hegarty", sans-serif;
  --font-bbhsansbartle : "BBH Sans Bartle", sans-serif;
}

body {
  @apply bg-[#0D0321];
}
